.addInventoryContainer{
	height: 435px;
	width: 100%;

	background:  green;

}
.displayWindow{
	height: 100%;
	width: 70%;
	float:right;
	background: #d9dbdd;
	padding:10px
}

.displayWindow .container{
	border: none;
	width: 99%;
	height: 100%;
	background : beige;
}
.leftBox{
    height:100%;
    padding: 10px;
    width:30%;
    background: #d9dbdd;
    float:left;
}
.leftBox .container{
	border: none;
	width: 99%;
	padding-left: -1px;
	height: 100%;
}
.addInventoryLabel {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    width:100%;
    background: rgba(18, 114, 152, 0.39);;
    text-align: center;
}
 
.addInventoryTable tr td{
	width: inherit;
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
   
}

.addInventoryTable tr{
	width: inherit;
} 

.submitInventory{
	float: right;
	margin-top: 20px;
	width: 100%;
	height: 35px;
	background:rgba(169, 66, 66, 0.53)
}

.fileChooser{
	width: 300px;
	background: white;
	border: solid;
	border-width: thin;
	border-color: azure;
}

.reviewProductLabel{
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    width:100%;
    background: rgba(18, 114, 152, 0.39);;
    text-align: center;
    margin-top: 10px;
}
.reviewProductTable{
	height: 100%;
	width:50%;
	float:left;
}
.itemImage{
	height:100%;
	width:100%;
	padding: 10px;
}

.imageReview {
	height:100%;
	width:50%;
	float:right;
	
}