<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="homePageContainer" ng-controller="homePageController">
		<div class="homePageBody">
		
		<div class="homePageContainerLeft">
<!-- 			<div class="searchBox">
				<div class="searchBar">
					<label>Item Search</label> <input type="text" />
					<button>Search</button>
				</div>
			</div> -->
			<div class="filterBox">
				<div class="categoryMenu">
					<ul>
						<li ng-repeat="x in categoryList track by $index">
							<button ng-model="x.selected"
								ng-click="filterItem(x.categoryName)">{{x.categoryName}}</button>
						</li>
					</ul>
				</div>
				
				<div class = "priceBox">
				<table>
					<tr>
						<td><label>Min Amount $ </label></td>
						<td><input type = "number" ng-model = "minAmount"><br> </td>
					</tr>
					<tr>
						<td><label>Max Amount $  </label></td>
						<td><input type = "number" ng-model = "maxAmount" ></td>
					</tr>
					<tr>
						<td><label style="margin-left: 25px;">New</label><input checked  type="checkbox" ng-model = "newItem" style="height: 15px; width: 15px;" ng-checked ="true"></td>
						<td><label style="margin-left: 25px;">Used</label><input type="checkbox" ng-model ="usedItem" style="height: 15px; width: 15px;"></td>
					</tr>
				</table>
				
				</div>
				<div class="subCategory" ng-show="categoryList[0].selected">
					<table >
						<tr>
							<td><input type="checkbox" ng-model ="electronicsList[0].selected" ><label>{{electronicsList[0].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[1].selected"><label>{{electronicsList[1].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[2].selected"><label>{{electronicsList[2].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[3].selected"><label>{{electronicsList[3].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[4].selected"><label>{{electronicsList[4].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[5].selected"><label>{{electronicsList[5].subCategoryName}}</label></td>
						</tr>
						<tr>
							<td><input type="checkbox" ng-model ="electronicsList[6].selected"><label>{{electronicsList[6].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[7].selected"><label>{{electronicsList[7].subCategoryName}} </label></td>
							<td><input type="checkbox" ng-model ="electronicsList[8].selected"><label>{{electronicsList[8].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[9].selected"><label>{{electronicsList[9].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[10].selected"><label>{{electronicsList[10].subCategoryName}}</label></td>
							<td><input type="checkbox" ng-model ="electronicsList[11].selected"><label>{{electronicsList[11].subCategoryName}}</label></td>
					</tr>
					</table>
				</div>
				<div class="subCategory" ng-show="categoryList[1].selected">c</div>
				<div class="subCategory" ng-show="categoryList[2].selected">s</div>
				<div class="subCategory" ng-show="categoryList[3].selected">b</div>
				<div class="subCategory" ng-show="categoryList[4].selected">p</div>
				<div class="subCategory" ng-show="categoryList[5].selected">f</div>
				<div class="subCategory" ng-show="categoryList[6].selected">o</div>
				<div class="filterSummary">
<!-- 					<label> Filtering Search For : {{category}}</label> -->
					<button type="button" class="clearButton" ng-click = "filterSearchCriteria()">Clear</button>
					<button type="button" class="filterButton" ng-click = "filterSearchCriteria()">Filter</button>
				</div>
			</div>
			<div class="displayBox">
				<table datatable ="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance ="dtInstance">
				
				</table>
			</div>
		</div>
		
		<div class="homePageContainerRight"></div>
		</div>

		<div class="pageFooter">

			<p>&copy; 2017 Nibasabin's.All rights reserved</p>
		</div>
	</div>
</body>
</html>



