<div id ="signUpFormContainer" class = "container" ng-controller ="signUpController">
<div class ="signUpForm">
<div class ="row header">
<label class = "headerLabel"> Sign Up Form</label>
<label id="passwordErrorMsg" ></label>
</div>
<div class = "row">
	<form>
			<table class = "signUpTable">
				<tr>
					<td>First Name :</td>
					<td><input type='text' name='firstName' ng-model='user.firstName' required></td>
				</tr>
				<tr>
					<td>Last Name :</td>
					<td><input type='text' name='lastName' ng-model='user.lastName' required/></td>
				</tr>
				<tr>
					<td>Email Address :</td>
					<td><input type='text' name='emailId' ng-model='user.emailId' required /></td>
				</tr>
			
				<tr>
					<td>Password :</td>
					<td><input type="password" name='password' ng-model='user.password' required/></td>
				</tr>
			
				<tr>
					<td>Confirm Password :</td>
					<td><input type='password' name='confirmPassword' ng-model='user.confirmPassword' required/></td>
				</tr>
				<tr>
					<td>Date Of Birth :</td>
					<td><input type='date' name='dateOfBirth' ng-model='user.dateOfBirth'/></td>
				</tr>
				<tr>
					<td>Address :</td>
					<td><input type='text' name='address' ng-model='user.address' /></td>
				</tr>
				<tr>
					<td>City :</td>
					<td><input type='text' name='city' ng-model='user.city' /></td>
				</tr>
				<tr>
					<td>State :</td>
					<td><input type='text' name='state' ng-model='user.state' /></td>
				</tr>
				<tr>
					<td>Zip Code :</td>
					<td><input type='text' name='zipCode' ng-model='user.zipCode' /></td>
				</tr>
			
			</table>
			<div class ="row signUpFormSubmit">
				<input class="submitButton" type="submit" value="Submit" ng-click="createUser(user)" />
				<input class="submitButton" type="button" value="Cancel" ng-click="cancelSignUp()"/>
			</div>
	</form>
</div>
	
</div>


</div>