.sellItemHeader{
	background-color: #9a3334;
	height: 30px;
	text-align: center;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.sellItemContainer{
	/* background-color: red; */
	height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    width: 325px;
}
.sellItemHeader label{
	margin-top:3px;

}
.addInventoryContainer{
	margin-top:20px;
	/* background-color:blue; */
}
.sellItemBox {
    background-color: white;
    color: black;
    font-size:12px;
    border: solid;
    border-width: 1px;
    border-color: #dddddd;
}
.addInventoryTable{
	height:auto;
}
.addInventoryTable tr {
	height:30px;
}
.addInventoryTable tr td input {
	background-color: white;
    border-bottom: solid;
    border-top: none;
    width:200px;
    border-right:none;
    border-top: none;
    border-bottom-color: black;
    border-left: none;
    border-width: 1px;
    /* border: none; */
}

.addInventoryTable tr td textArea {
	width:200px
    /* border: none; */
}
.sellItemBox table{
	margin-top:20px;
	margin-left:20px;
}
.submitInventory{
	text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;	
}

.dataTableHeader{
    background-color: #9a3334;
    height: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    	text-align:center;
}

.dataTableHeader label{
	color:white;
	margin-left:20px;


	}

 .sellItemDataTableContainer{
	margin-left:10px;
	border:solid;
	border-width:1px;
	border-color:#dddddd;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
}


/* .addInventoryContainer{
	height: 435px;
	width: 100%;

	background:  green;

}
.displayWindow{
	height: 100%;
	width: 70%;
	float:right;
	background: #d9dbdd;
	
}

.displayWindow .container{
	border: none;
	width: 99%;
	height: 100%;
	background : beige;
}
.leftBox{
    height: 100%;
    padding: 10px;
    width: 30%;
    background: #d9dbdd;
    border: solid;
    border-color: #f9f7f7;
    float: left;
}
.leftBox .container{
	border: none;
	width: 99%;
	padding-left: -1px;
	height: 100%;
}
.addInventoryLabel {
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    width:100%;
    background: rgba(18, 114, 152, 0.39);;
    text-align: center;
}
 
.addInventoryTable tr td{
	width: inherit;
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
   
}

.addInventoryTable tr{
	width: inherit;
} 

.submitInventory{
	float: right;
	margin-top: 20px;
	width: 100%;
	height: 35px;
	background:rgba(169, 66, 66, 0.53)
}

.fileChooser{
	width: 95%;
	background: white;
	border: solid;
	border-width: thin;
	border-color: azure;
}

.reviewProductLabel{
	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    width:100%;
    background: rgba(18, 114, 152, 0.39);;
    text-align: center;
    margin-top: 10px;
}
.reviewProductTable{
	height: 100%;
    width: 45%;
    float: left;
    border: solid;
    border-color: #f9f7f7;
    padding-left: 10px;
    padding-right: 10px;
}
.itemImage{
	height:100%;
	width:100%;
	padding: 10px;
}

.imageReview {
	height: 100%;
    width: 55%;
    float: right;
    border: solid:;
    border: solid;
    border-color: azure;
	
} */