body{
	background : #777775;
}
.container{
    margin: auto;
    width: 90%;
    height:100%;
    border: 1px solid;
    padding: 10px;
    background:#f9f7f7
}
.view{
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	height:100%;
}

.menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(18, 114, 152, 0.39);
    height: 41px;
}

.menuBar li {
    float: left;
}

.menuBar li button {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 41px;
}

.menuBar lo button:hover:not(.active) {
    background-color: #111;
}


