<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns:security="http://www.springframework.org/schema/security" 
			xmlns:context="http://www.springframework.org/schema/context" 
			xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
    <security:http auto-config="true" >
       <security:intercept-url pattern="/user/*" access="ROLE_ADMIN" />
       <security:form-login login-page="/login" 
        default-target-url="http://localhost:9090/WebService/user/homePage" 
        login-processing-url="/loginCheck"
        authentication-failure-url="/login?error=true" 
        always-use-default-target="true"/>
       <security:logout logout-success-url="/login?logout=true"/>  
           <security:headers>
    	<security:cache-control/>
    	<security:hsts/>
    </security:headers>
    </security:http>
    

    
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="a" password="a" authorities="ROLE_ADMIN" />
                <security:user name="b" password ="b" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans:beans>