<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns:security="http://www.springframework.org/schema/security" 
			xmlns:context="http://www.springframework.org/schema/context" 
			xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
    <security:http auto-config="true" ><!-- use-expressions="true" -->
    <security:intercept-url pattern="/user/*" access="ROLE_ADMIN" />
    
<!--        <security:intercept-url pattern="/user/*" access="hasRole('ROLE_ADMIN')" />
       <security:intercept-url pattern="/javaScriptFiles/**" access="permitAll()" /> -->
       <security:form-login login-page="/login" 
        default-target-url="http://localhost:9090/WebService/user/homePage" 
        login-processing-url="/loginCheck"
        authentication-failure-url="/login?error=true" 
        always-use-default-target="true"/>
       <security:logout logout-success-url="/login?logout=true"/>  
           <security:headers>
    	<security:cache-control/>
    	<security:hsts/>
    </security:headers>
    </security:http>
    

    
    <security:authentication-manager>
        <security:authentication-provider>
        	 <security:jdbc-user-service data-source-ref="dataSource"
                users-by-username-query=
                    "select username,password,enabled from UserInformationEntity where username=?" authorities-by-username-query="select username,role from UserInformationEntity where username=?"/>

        </security:authentication-provider>
    </security:authentication-manager>
    	
	<beans:bean id="dataSource" class= "org.springframework.jdbc.datasource.DriverManagerDataSource">      
      <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
      <beans:property name="url" value="${jdbc.url}"></beans:property>
      <beans:property name="username" value="${jdbc.username}"></beans:property>
      <beans:property name="password" value="${jdbc.password}"></beans:property>
   </beans:bean>
   
      <beans:bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
     <beans:property name="location" value ="/WEB-INF/db.properties">
     </beans:property>
  </beans:bean>
</beans:beans>